.thememenu {
    background-color: #fafafa;
    height: 84px;
    display: flex;
    justify-content: space-between; /* 요소 간에 일정한 간격을 유지합니다. */
    padding: 0 20px; /* 좌우 여백을 추가합니다. */
    width: 100%; /* 창의 너비의 90%로 지정 */
    max-width: 1266px; /* 최대 너비를 1266px로 제한 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
}


.thememenu > div:hover {
    background-color: #f4f4f4;
}

.thememake {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
}

.viewtheme {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
}

.mystorage {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
}

.community {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
}

.screen .searchframe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 199%; /* 화면 높이의 10%로 설정 */
    width: 100%; /* 화면 너비의 50%로 설정 */
    position: relative;
}
