.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .loginentire {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #474747;
  border-radius: 17px;
  height: 757px;
  position: relative;
  top: 80px;
  width: 1058px;
}

.screen .emailframe {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #6d6d6d;
  border-radius: 143px;
  height: 60px;
  left: 345px;
  position: absolute;
  top: 249px;
  width: 367px;
}

.screen .emailtext {
  color: #cec9c9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen .logoimg {
  height: 58px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 111px;
  width: 117px;
}

.screen .loginline {
  height: 20px;
  left: 527px;
  position: absolute;
  top: 492px;
  width: 1px;
}

.screen .logintext {
  color: #3c3c3c;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 481px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 187px;
}

.screen .pwframe {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #6d6d6d;
  border-radius: 143px;
  height: 60px;
  left: 345px;
  position: absolute;
  top: 328px;
  width: 367px;
}

.screen .pwtext {
  color: #cec9c9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen .searchpw {
  color: #828282;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 539px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 493px;
  white-space: nowrap;
}

.screen .searchid {
  color: #828282;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 441px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 493px;
  white-space: nowrap;
}

.screen .kakaologinimg {
  height: 45px;
  left: 434px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 183px;
}

.screen .signup {
  color: #828282;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 460px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 598px;
  white-space: nowrap;
}

.screen .loginbtnframe {
  align-items: center;
  background-color: #e9e9e9;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 455px;
  padding: 8px 42px;
  position: absolute;
  top: 419px;
}

.screen .loginbtntext {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
