.screen {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100vw; 
  position: relative;
}

.screen .bottombox {
  background-color: #f6f6f6;
  height: 40rem;
  position: relative;
  width: 79rem;
  margin: 2rem;
  max-width: calc(100vw - 4rem); /* 화면 크기에 맞게 조정 */
}

.screen .todaytheme {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 50px;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 5%; /* 위 여백 추가 */
    text-align: center; /* 가운데 정렬 */
    max-width: 100%; /* 화면 크기에 맞게 조정 */
  }

.screen .hottheme {
  color: #6d6d6d;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2%; /* 위 여백 추가 */
  text-align: center; /* 가운데 정렬 */
  max-width: 100%; /* 화면 크기에 맞게 조정 */
}

