.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .screen .signuplogo {
    height: 58px;
    width: 117px;
    position: absolute;
    top: 50px;
    left: 54px;
    object-fit: cover;
  }
  
  .screen .emailframe_1 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 74px;
    width: 516px;
    position: absolute;
    top: 175px;
    left: 470px;
  }
  
  .screen .email_1 {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 79;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 250px;
  }
  
  .screen .emailicon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 12px;
    left: 20px;
    object-fit: cover;
  }
  
  .screen .pwframe_1 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 74px;
    width: 516px;
    position: absolute;
    top: 265px;
    left: 470px;
  }
  
  .screen .pwicon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 16px;
    left: 23px;
    object-fit: cover;
  }
  
  .screen .pw_1 {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 215px;
  }
  
  .screen .nameframe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 74px;
    width: 516px;
    position: absolute;
    top: 536px;
    left: 471px;
  }
  
  .screen .name {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 80px;
  }
  
  .screen .nameicon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 13px;
    left: 17px;
    object-fit: cover;
  }
  
  .screen .signup_2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 644px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
  }
  
  .screen .signup_2btnframe {
    align-items: center;
    background-color: #faa422;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    padding: 21px 17px;
    position: absolute;
    top: 700px;
    left: 623px;
  }
  
  .screen .signup_2btn {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 145px;
  }
  
  .screen .nicknameframe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 74px;
    width: 516px;
    position: absolute;
    top: 445px;
    left: 471px;
  }
  
  .screen .nickname {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 100px;
  }
  
  .screen .nicknameicon {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 8px;
    left: 13px;
  }
  
  .screen .pwcheckframe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 74px;
    width: 516px;
    position: absolute;
    top: 355px;
    left: 469px;
  }
  
  .screen .pwcheck {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 170px;
  }

  .screen .pwcheckicon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 16px;
    left: 21px;
    object-fit: cover;
  }
  
  