.entire .div-wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .div-wrapper .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .div-wrapper .mypage {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1131px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    white-space: nowrap;
  }
  
  .div-wrapper .thememenu {
    background-color: #fafafa;
    height: 84px;
    left: 87px;
    position: absolute;
    top: 173px;
    width: 1266px;
  }
  
  .div-wrapper .viewtheme {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 158px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .div-wrapper .thememake {
    color: #3c3c3c;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 474px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .div-wrapper .mystorage {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1011px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .div-wrapper .community {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 746px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .div-wrapper .searchframe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 143px;
    height: 75px;
    left: 387px;
    position: absolute;
    top: 64px;
    width: 666px;
  }
  
  .div-wrapper .searchimg {
    height: 50px;
    left: 591px;
    position: absolute;
    top: 11px;
    width: 50px;
  }
  
  .div-wrapper .searchtext {
    color: #cec9c9;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .div-wrapper .profileimg {
    height: 78px;
    left: 1244px;
    object-fit: cover;
    position: absolute;
    top: 63px;
    width: 78px;
  }
  
  .div-wrapper .logo {
    height: 58px;
    left: 183px;
    object-fit: cover;
    position: absolute;
    top: 73px;
    width: 117px;
  }
  
  .div-wrapper .overlap-group {
    background-color: #e6e6e6;
    border-radius: 55px;
    height: 59px;
    left: 99px;
    position: absolute;
    top: 272px;
    width: 226px;
  }
  
  .div-wrapper .step {
    background-color: #e6e6e6;
    border-radius: 55px;
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 226px;
  }
  
  .div-wrapper .text-wrapper {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .div-wrapper .overlap-2 {
    background-color: #e6e6e6;
    border-radius: 55px;
    height: 59px;
    left: 347px;
    position: absolute;
    top: 272px;
    width: 226px;
  }
  
  .div-wrapper .step2 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .div-wrapper .thumbnail-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 350px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  
  .div-wrapper .thumbnail {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .div-wrapper .pw-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 500px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  
  .div-wrapper .pw {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .div-wrapper .friendlist-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 650px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  
  .div-wrapper .friendlist {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  
  .div-wrapper .chattingroom-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 915px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  .div-wrapper .chattingroom {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  .div-wrapper .tapbar-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 800px;
    position: absolute;
    top: 346px;
    width: 103px;
  }
  .div-wrapper .tapbar {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  .div-wrapper .step-wrapper {
    background-color: #e6e6e6;
    border-radius: 55px;
    height: 59px;
    left: 1116px;
    position: absolute;
    top: 272px;
    width: 226px;
  }
  .div-wrapper .overlap-3 {
    background-color: #f4f4f4;
    height: 586px;
    left: 87px;
    position: absolute;
    top: 438px;
    width: 1266px;
  }
  .div-wrapper .next-wrapper {
    background-color: #ffffff;
    height: 59px;
    left: 1128px;
    position: absolute;
    top: 481px;
    width: 114px;
  }
  .div-wrapper .text-wrapper-2 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  .div-wrapper .back-wrapper {
    background-color: #ffffff;
    height: 59px;
    left: 24px;
    position: absolute;
    top: 481px;
    width: 114px;
  }
  .div-wrapper .box {
    background-color: #ffffff;
    height: 336px;
    left: 454px;
    position: absolute;
    top: 56px;
    width: 336px;
  }
  .div-wrapper .notification-wrapper {
    background-color: #f4f4f4;
    border-radius: 55px;
    height: 59px;
    left: 1065px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  .div-wrapper .notification {
    color: #828282;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
  }
  .div-wrapper .leftbox {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #828282;
    box-shadow: 0px 4px 4px #00000040;
    height: 586px;
    left: 0;
    position: absolute;
    top: 438px;
    width: 87px;
  }
  .div-wrapper .shapeicon {
    height: 59px;
    left: 21px;
    position: absolute;
    top: 24px;
    width: 46px;
  }
  .div-wrapper .text-wrapper-3 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
  }
  .div-wrapper .tdesign-icon {
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 44px;
  }
  .div-wrapper .basicicon {
    height: 56px;
    left: 13px;
    position: absolute;
    top: 104px;
    width: 61px;
  }
  .div-wrapper .text-wrapper-4 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 41px;
  }
  .div-wrapper .fluent-sticker-add {
    height: 40px;
    left: 9px;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .div-wrapper .texticon {
    height: 37px;
    left: 26px;
    position: absolute;
    top: 260px;
    width: 36px;
  }
  .div-wrapper .text-wrapper-5 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
  }
  .div-wrapper .vector {
    height: 18px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  .div-wrapper .mystorageicon {
    height: 53px;
    left: 15px;
    position: absolute;
    top: 181px;
    width: 57px;
  }
  .div-wrapper .text-wrapper-6 {
    color: #3c3c3c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 38px;
    width: 55px;
  }
  .div-wrapper .clarity-directory {
    height: 38px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 38px;
  }
  